@{
    Layout = "2column";
	
  Func<dynamic, object> button = 
   @<button style="color: @item.Color">@item.Name</button>;

}
 
@button(new { Color = "red", Name = "My button" })

<h2>Inner content</h2>
<p class="@(Global.Url == "contentpage" ? "true" : "false")">The layout of this view is @Layout</p>
<h3>@Model.Content</h3>
<div style="border: solid 2px blue">
  @RenderPartial("title", new { Sth = "blah" })
</div>  